@font-face {
  font-family: "oveperfumesfont";
  font-style: normal;
  font-weight: normal;
  src: url("https://raw.githubusercontent.com/Khalid2657/Khalid2657-AvenirArabic/main/AvenirArabic-Medium.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "oveperfumesfont";
  font-style: normal;
  font-weight: 700;
  src: url("https://raw.githubusercontent.com/Khalid2657/Khalid2657-AvenirArabic/main/AvenirArabic-Medium.ttf") format("truetype");
}

body {
  font-family: "oveperfumesfont", sans-serif;
  text-align: center;
}

h1 {
  font-weight: 700;
}

h2 {
  font-weight: 400;
}
